bin/*
build/*
.gradle/*
.DS_Store
*.log
src/main/deploy/pathplanner/.DS_Store
src/main/deploy/.DS_Store
src/main/.DS_Store
src/.DS_Store
bin/main/frc/robot/Constants.class
bin/main/frc/robot/Constants$AutoConstants.class
bin/main/frc/robot/Constants$Swerve.class
bin/main/frc/robot/Constants$Swerve$Mod0.class
bin/main/frc/robot/Constants$Swerve$Mod1.class
bin/main/frc/robot/Constants$Swerve$Mod2.class
bin/main/frc/robot/Constants$Swerve$Mod3.class
bin/main/frc/robot/Robot.class
bin/main/frc/robot/RobotContainer.class
bin/main/frc/robot/SwerveModule.class
bin/main/frc/robot/commands/TeleopSwerve.class
bin/main/frc/robot/subsystems/Swerve.class
build/classes/java/main/frc/robot/Constants.class
build/classes/java/main/frc/robot/Constants$AutoConstants.class
build/classes/java/main/frc/robot/Constants$Swerve.class
build/classes/java/main/frc/robot/Constants$Swerve$Mod0.class
build/classes/java/main/frc/robot/Constants$Swerve$Mod1.class
build/classes/java/main/frc/robot/Constants$Swerve$Mod2.class
build/classes/java/main/frc/robot/Constants$Swerve$Mod3.class
build/classes/java/main/frc/robot/Robot.class
build/classes/java/main/frc/robot/RobotContainer.class
build/classes/java/main/frc/robot/SwerveModule.class
build/classes/java/main/frc/robot/commands/TeleopSwerve.class
build/classes/java/main/frc/robot/subsystems/Swerve.class
